<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sharepoint-to-blob-functionapp371.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/a0e7630f-abb4-45e0-b815-b86fde1df455/resourceGroups/rg-sharepoint-to-blob/providers/Microsoft.Web/sites/SharePoint-to-blob-functionapp371</ResourceId>
    <UserName>$SharePoint-to-blob-functionapp371</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://sharepoint-to-blob-functionapp371.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>